
.photo1 {
    text-align: center;
    display: inline-block;
    padding: 30px;
    margin: 30px;
}
.photo2 {
    text-align: center;
    display: inline-block;
    padding: 30px;
    margin: 30px;
}
.photo3 {
    text-align: center;
    display: inline-block;
    padding: 30px;
    margin: 30px;
}
